<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title | default: "Hello" }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
  </head>
  <body>
    <h1>josh <span class="dot">(dot)</span> tf</h1>
    <nav>
      <a href="https://github.com/josh-tf" target="_blank">git</a>
      <span class="separator">&bull;</span>
      <a href="https://keybase.io/joshtf/pgp_keys.asc" target="_blank">pgp</a>
      <span class="separator">&bull;</span>
      <i>letters:</i> me (at)
      <span class="separator">&bull;</span>
      <a href="https://mesh.josh.tf" target="_blank"><b>λ</b></a>
    </nav>
  </body>
</html>
